@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');
.App {
  text-align: center;
  color:#f9f9f9;
}

.App-logo {
  height: 40vmin;
  min-height: 250px;
  border-radius: 5%;
  transition: all 0.5s;
}

.icon{
  height: 10vmin;
  margin: 5px;
  border-radius: 50%;
  transition: all 0.5s;
}

.App-header {

  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#f9f9f9;
  p {
    max-width: 800px;
    text-align: center;
    padding: 5px;
  }
}

.description{
  a{
    font-family: 'Gentium Book Basic', serif;
    color:#f9f9f9;
  }
}

.logos-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(0) rotate(-180deg);
  transition: all .5s;
}

.btn{
  background-color: cornflowerblue;
  color: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  position: absolute;
  width: 10vmin;
  min-width: 50px;
  min-height: 50px;
  font-size: xx-large;
}


.changed {
  .logos-container{
    transform: scale(1) rotate(0);
  }
  .btn{
    transition: all 0.5s;
  }
}
