@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  min-height: 250px;
  border-radius: 25%;
  transition: all 0.5s;
  &:hover{
    box-shadow: 10px 10px 44px -1px rgba(67,62,73,0.45);
  }
}

.icon{
  height: 10vmin;
  margin: 5px;
  border-radius: 50%;
  transition: all 0.5s;
  &:hover{
    box-shadow: 10px 10px 44px -1px rgba(67,62,73,0.45);
  }
}

.App-header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  rgba(67,62,73,0.75);
  p {
    max-width: 800px;
    text-align: center;
    padding: 5px;
  }
}

.description{
  a{
    font-family: 'Gentium Book Basic', serif;
    color: black;
    
  }
}

.App-link {
  color: #e7cb82;
}

.logos-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// #877c93	(135,124,147)
// #ae838e	(174,131,142)
// #c98d95	(201,141,149)
// #ddcdc0	(221,205,192)
// #e7cb82	(231,203,130)